@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
:root{
    --txtcolor:#FFFBE6;
    --hcolor:#e31e24;
}
.pp-2{
   
    margin-left: 20px; 
}

header{
    /* background-color: #073602; */
    background-color: rgba(17, 24, 39, 1);
   color:var(--txtcolor);
   font-size: 1.2rem;
   text-transform: capitalize;
   /* font-family: "New Amsterdam", sans-serif; */
  
}
header div a{
    text-decoration: none;
    color:var(--txtcolor);
    font-weight: 300 !important;
}
.rr{
    font-weight: 500 !important;
}
.rr:hover{
    color: red;
    
}

.item:hover{
    background-color:green !important;
  
}

.slider{
    color: #000 !important;
}

/* menu item */

.card {
    width: 190px;
    height: 254px;
    padding: .8em;
    background: #f5f5f5;
    position: relative;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
   }
   
   .card-img {
    /* background-color: #ffcaa6; */
    height: 40%;
    width: 100%;
    border-radius: .5rem;
    transition: .3s ease;
   }
   
   .card-info {
    padding-top: 10%;
   }
   
   svg {
    width: 20px;
    height: 20px;
   }
   
   .card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    border-top: 1px solid #ddd;
   }
   
   /*Text*/
   .text-title {
    font-weight: 900;
    font-size: 1.2em;
    line-height: 1.5;
   }
   
   .text-body {
    font-size: .9em;
    padding-bottom: 10px;
   }
   
   /*Button*/
   .card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 50px;
    transition: .3s ease-in-out;
   }
   
   /*Hover*/
   .card-img:hover {
    transform: translateY(-25%);
    box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
   }
   
   .card-button:hover {
    border: 1px solid #ffcaa6;
    background-color: #ffcaa6;
   }
   
/*end item*/

.menu{
    margin-top: 70px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-left: 100px;
    width: 1000px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap ;
    gap: 30px;
    align-items: center;
    justify-content:center;
}

.cart_item{
    display: flex;
    flex-direction: row;
}
